In [1]:
import os
import numpy as np
import pandas as pd
from datetime import date

from sklearn.model_selection import KFold, train_test_split, StratifiedKFold, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import log_loss, roc_auc_score, auc, roc_curve
from sklearn.preprocessing import MinMaxScaler

DATA_ROOT = "./data/ml100marathon/"

## 讀取資料
* ### 去除沒有消費卷的資料

In [2]:
dfoff = pd.read_csv(os.path.join(DATA_ROOT,'train_offline.csv'))
dftest = pd.read_csv(os.path.join(DATA_ROOT,'test_offline.csv'))
# 去掉沒有消費卷的資料
dftest = dftest[~dftest.Coupon_id.isna()]
display(dftest)
dftest.reset_index(drop=True, inplace=True)
print(dfoff.shape)
print(dftest.shape)
dfoff.head(20)

        User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0       1439408         4663    11002.0        150:20       1.0     20160528.0
1       1439408         2632     8591.0          20:1       0.0     20160613.0
3       1439408         2632     8591.0          20:1       0.0     20160516.0
4       2029232          450     1532.0          30:5       0.0     20160530.0
5       2029232         6459    12737.0          20:1       0.0     20160519.0
8       2747744         6901     1097.0         50:10       NaN     20160606.0
10       196342         1579    10698.0          20:1       1.0     20160606.0
11       253750         6901     2366.0          30:5       0.0     20160518.0
12       343660         4663    11002.0        150:20       NaN     20160528.0
15      1113008         3621     2705.0          20:5       0.0     20160524.0
16      1113008         2277     1495.0         30:10       0.0     20160523.0
17      1113008         1361    11166.0          20:1       0.0     20160515.0
19      1113008         1361    11166.0          20:1       0.0     20160521.0
23       622296         4874      846.0          50:5       1.0     20160523.0
25      4064096         4666     6604.0        100:10       0.0     20160602.0
27       114747         6901     2366.0          30:5       0.0     20160523.0
28       114747         6901     1097.0         50:10       0.0     20160605.0
29       114747          760     2418.0          30:5       0.0     20160607.0
30       114747         6901     2107.0          30:5       0.0     20160605.0
42       245878          760     2418.0          30:5       0.0     20160601.0
43      3409760         6901     2366.0          30:5       7.0     20160530.0
44      2231648         3621     2705.0          20:5       1.0     20160522.0
45      1314224          760     2418.0          30:5       2.0     20160611.0
46      3283808         6189    13606.0          30:5       2.0     20160524.0
48       127227         3621     2705.0          20:5       0.0     20160510.0
49       197110         8479     7360.0          10:1       0.0     20160526.0
53       559320         3621     2705.0          20:5       2.0     20160520.0
54      3548000          450     1532.0          30:5       NaN     20160527.0
55      4474560         6504     2348.0          30:1       1.0     20160505.0
56      5525184          760     2418.0          30:5       0.0     20160602.0
...         ...          ...        ...           ...       ...            ...
594084  4680384         5717     8192.0          20:5       0.0     20160522.0
594085  4680384         8386     4283.0        100:20       0.0     20160531.0
594088  6253248          760     2418.0          30:5      10.0     20160601.0
594094   228214         6762     6023.0        100:30       0.0     20160513.0
594095   552408         4663    13304.0        150:20       0.0     20160526.0
594096   552408         4663    11002.0        150:20       0.0     20160528.0
594099   187414         7580     8640.0        200:20       NaN     20160502.0
594101   195670         3621     2705.0          20:5      10.0     20160527.0
594102  1106864          760     2418.0          30:5       0.0     20160613.0
594103   154774         7903     8137.0          20:1       NaN     20160526.0
594104   489772         3621     2705.0          20:5       0.0     20160524.0
594105   717528          629     2427.0         30:10       0.0     20160524.0
594107   881496         6485     2079.0          30:5       3.0     20160522.0
594108  1894064          760     2418.0          30:5       0.0     20160609.0
594109  2090672         3449    13425.0         50:10       NaN     20160509.0
594110   118395         2703     3321.0          0.95       0.0     20160607.0
594111   195862         4666     6604.0        100:10       1.0     20160602.0
594115   522796         6987     8689.0        100:10       0.0     20160516.0
594118  4182368          760     6103.0          20:5       0.0     20160521.0
594119   261526         7555     2111.0           0.8       1.0     20160511.0
594121  3399008         6901     2366.0          30:5       0.0     20160530.0
594123   118539          760     2418.0          30:5       0.0     20160606.0
594128    98091         1553    10027.0          0.95      10.0     20160510.0
594129  2876768         6901     2107.0          30:5       0.0     20160531.0
594131  4056416         7177     3469.0          20:1       NaN     20160514.0
594132  4056416         2420    10883.0        100:30       NaN     20160613.0
594138   212662         3021     3739.0          30:1       6.0     20160504.0
594139   212662         3021     3739.0          30:1       6.0     20160508.0
594140   752472         7113     1633.0         50:10       6.0     20160613.0
594141   752472         3621     2705.0          20:5       0.0     20160523.0

[306313 rows x 6 columns]

(1160742, 7)
(306313, 6)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN
5,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN
6,73611,2099,12034.0,100:10,NaN,20160207.0,NaN
7,163606,1569,5054.0,200:30,10.0,20160421.0,NaN
8,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN
9,94107,3381,7610.0,200:20,2.0,20160412.0,NaN
10,253750,8390,NaN,NaN,0.0,NaN,20160327.0
11,253750,8390,7531.0,20:5,0.0,20160327.0,NaN
12,376492,1041,13490.0,30:5,2.0,20160127.0,NaN
13,1964720,7884,NaN,NaN,10.0,NaN,20160115.0
14,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN
15,1113008,1041,NaN,NaN,2.0,NaN,20160114.0
16,1113008,1041,11197.0,30:5,2.0,20160114.0,NaN
17,2881376,5341,111.0,30:5,1.0,20160207.0,NaN
18,2881376,8390,7531.0,20:5,0.0,20160321.0,20160329.0
19,2881376,5341,111.0,30:5,1.0,20160207.0,NaN

## 建立Label資料
* ### 沒有消費卷收到日期的資料設為-1
* ### 有購買日期的，減去收到日期，若小於15天，則表示有在15天內花掉，設為1
* ### 沒在15天花掉的設為0

In [3]:
## Creat target label 
"""
According to the definition, 
1) buy with coupon within (include) 15 days ==> 1
2) buy with coupon but out of 15 days ==> 0
3) buy without coupon ==> -1 (we don't care)
"""
def label(row):
    if np.isnan(row['Date_received']):
        return -1
    if not np.isnan(row['Date']):
        td = pd.to_datetime(row['Date'], format='%Y%m%d') -  pd.to_datetime(row['Date_received'], format='%Y%m%d')
        if td <= pd.Timedelta(15, 'D'):
            return 1
    return 0

dfoff["label"] = dfoff.apply(label, axis=1)
dfoff["label"].value_counts()

 0    710665
-1    413773
 1     36304
Name: label, dtype: int64

## 建立新特徵 - 是否週末收到消費卷
* ### 建立『weekday』欄位，星期幾 (1 ~ 7)
* ### 建立『weekday_type』欄位，是否為週末，週末為1，工作日為0
__註：訓練資料和測試資料同時設定__

In [4]:
# Generate features - weekday acquired coupon
def getWeekday(row):
    if (np.isnan(row)) or (row==-1):
        return row
    else:
        return pd.to_datetime(row, format = "%Y%m%d").dayofweek+1 # add one to make it from 0~6 -> 1~7

dfoff['weekday'] = dfoff['Date_received'].apply(getWeekday)
dftest['weekday'] = dftest['Date_received'].apply(getWeekday)

# weekday_type (weekend = 1)
dfoff['weekday_type'] = dfoff['weekday'].astype('str').apply(lambda x : 1 if x in [6,7] else 0 ) # apply to trainset
dftest['weekday_type'] = dftest['weekday'].astype('str').apply(lambda x : 1 if x in [6,7] else 0 ) # apply to testset

## 建立新特徵 - 設定one-hot週1~週7欄位
* ### 『weekday_i』(i = 1 ~ 7)

In [5]:
weekdaycols = ['weekday_' + str(i) for i in range(1,8)]
print(weekdaycols)

tmpdf = pd.get_dummies(dfoff['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
dfoff[weekdaycols] = tmpdf

tmpdf = pd.get_dummies(dftest['weekday'].replace(-1, np.nan))
tmpdf.columns = weekdaycols
dftest[weekdaycols] = tmpdf

['weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

## 處理Discount
* ### 建立『discount_type』欄位，當discount為null，表示沒有discount。若含有冒號，表示為類別1，否則為類別0
* ### 建立『discount_rate』欄位，若discount為null，表示折扣率為1，若有冒號，折扣率為1 - right/left (購買滿left元，折扣right元)
* ### 建立『discount_man』欄位，滿多少元有折扣，若有冒號，則取left元，否則則為0元
* ### 建立『discount_jian』欄位，折扣多少元，若有冒號，則取right元，否則則為0元。

In [6]:
# Generate features - coupon discount and distance
def getDiscountType(row):
    if row == 'null':
        return 'null'
    elif ':' in row:
        return 1
    else:
        return 0

def convertRate(row):
    """Convert discount to rate"""
    if row == 'null':
        return 1.0
    elif ':' in row:
        rows = row.split(':')
        return 1.0 - float(rows[1])/float(rows[0])
    else:
        return float(row)

def getDiscountMan(row):
    if ':' in row:
        rows = row.split(':')
        return int(rows[0])
    else:
        return 0

def getDiscountJian(row):
    if ':' in row:
        rows = row.split(':')
        return int(rows[1])
    else:
        return 0

def processData(df):
    
    # convert discunt_rate
    df['discount_rate'] = df['Discount_rate'].astype('str').apply(convertRate)
    df['discount_man'] = df['Discount_rate'].astype('str').apply(getDiscountMan)
    df['discount_jian'] = df['Discount_rate'].astype('str').apply(getDiscountJian)
    df['discount_type'] = df['Discount_rate'].astype('str').apply(getDiscountType)
    
    # convert distance
    df.loc[df.Distance.isna(), "Distance"] = 99
    return df

dfoff = processData(dfoff)
dftest = processData(dftest)

## 準備訓練資料和驗證資料 (以20160416為界)
* ### 先排除沒收到消費卷的資料
* ### 增加『is_train』欄位，標示為訓練還是測試資料
* ### 分別取得train和valid

In [7]:
## Naive model
def split_train_valid(row, date_cut="20160416"):
    is_train = True if pd.to_datetime(row, format="%Y%m%d") < pd.to_datetime(date_cut, format="%Y%m%d") else False
    return is_train
    
df = dfoff[dfoff['label'] != -1].copy()
df["is_train"] = df["Date_received"].apply(split_train_valid)
train = df[df["is_train"]]
valid = df[~df["is_train"]]
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)
print("Train size: {}, #positive: {}".format(len(train), train["label"].sum()))
print("Valid size: {}, #positive: {}".format(len(valid), valid["label"].sum()))

Train size: 667753, #positive: 32472
Valid size: 79216, #positive: 3832

In [8]:
original_feature = ['discount_rate',
                    'discount_type',
                    'discount_man', 
                    'discount_jian',
                    'Distance', 
                    'weekday', 
                    'weekday_type'] + weekdaycols
print(len(original_feature),original_feature)

14 ['discount_rate', 'discount_type', 'discount_man', 'discount_jian', 'Distance', 'weekday', 'weekday_type', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

## 定義一個訓練模式
### 1. 一個SGDClassifier

In [14]:
predictors = original_feature
print(predictors)

def check_model(data, predictors):
    
    classifier = lambda: SGDClassifier(
        loss='log', 
        penalty='elasticnet', 
        fit_intercept=True, 
        max_iter=100, 
        shuffle=True, 
        n_jobs=1,
        class_weight=None)

    model = Pipeline(steps=[
        ('ss', StandardScaler()),
        ('en', classifier())
    ])

    parameters = {
        'en__alpha': [ 0.001, 0.01, 0.1],
        'en__l1_ratio': [ 0.001, 0.01, 0.1]
    }

    folder = StratifiedKFold(n_splits=3, shuffle=True)
    
    grid_search = GridSearchCV(
        model, 
        parameters, 
        cv=folder, 
        n_jobs=-1, 
        verbose=1)
    grid_search = grid_search.fit(data[predictors], 
                                  data['label'])
    
    return grid_search
from sklearn import datasets, metrics
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
def check_GradientBoostingModel(data, valid, predictors):
    clf = GradientBoostingClassifier()
    # 訓練模型
    clf.fit(data[predictors], data['label'])

    # 預測測試集
    y_pred = clf.predict(valid[predictors])

    acc = metrics.accuracy_score(valid.label, y_pred)
    print("Raw Acuuracy: ", acc)

    # 設定要訓練的超參數組合
    n_estimators = [100, 200, 300, 400, 500]
    max_depth = [1, 2, 3, 4, 5]
    param_grid = dict(n_estimators=n_estimators, max_depth=max_depth)
    
    ## 建立搜尋物件，放入模型及參數組合字典 (n_jobs=-1 會使用全部 cpu 平行運算)
    grid_search = GridSearchCV(clf, param_grid, scoring="accuracy", n_jobs=-1, verbose=1)

    # 開始搜尋最佳參數
    grid_result = grid_search.fit(data[predictors], data['label'])
    
    clf_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'],
                                           n_estimators=grid_result.best_params_['n_estimators'])
    # 訓練模型
    clf_bestparam.fit(data[predictors], data['label'])

    # 預測測試集
    y_pred = clf_bestparam.predict(valid[predictors])

    # 調整參數後
    print("Best Acuuracy: ", metrics.accuracy_score(valid.label, y_pred))
    return clf_bestparam

['discount_rate', 'discount_type', 'discount_man', 'discount_jian', 'Distance', 'weekday', 'weekday_type', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'weekday_7']

## 模式訓練和超參數調整
__註：看起來有調整超參數可是沒看到使用找到的參數重新訓練__

In [15]:
model = check_GradientBoostingModel(train, valid, predictors)

Raw Acuuracy:  0.9516259341547162
Fitting 3 folds for each of 25 candidates, totalling 75 fits

c:\python\python36\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed: 18.9min
[Parallel(n_jobs=-1)]: Done  75 out of  75 | elapsed: 85.7min finished

Best Acuuracy:  0.9516259341547162

## 使用模式驗證資料

In [16]:
y_valid_pred = model.predict_proba(valid[predictors])
valid1 = valid.copy()
valid1['pred_prob'] = y_valid_pred[:, 1]

## 算出AUC和正確率

In [17]:
from sklearn.metrics import roc_auc_score, accuracy_score
auc_score = roc_auc_score(y_true=valid.label, y_score=y_valid_pred[:,1])
acc = accuracy_score(y_true=valid.label, y_pred=y_valid_pred.argmax(axis=1))
print("Validation AUC: {:.3f}, Accuracy: {:.3f}".format(auc_score, acc))

Validation AUC: 0.777, Accuracy: 0.952

## 預測測試資料

In [18]:
targetset = dftest.copy()
print(targetset.shape)
targetset = targetset[~targetset.Coupon_id.isna()]
targetset.reset_index(drop=True, inplace=True)
testset = targetset[predictors].copy()

y_test_pred = model.predict_proba(testset[predictors])
test1 = testset.copy()
test1['pred_prob'] = y_test_pred[:, 1]
print(test1.shape)

(306313, 19)
(306313, 15)

In [19]:
output = pd.concat((targetset[["User_id", "Coupon_id", "Date_received"]], test1["pred_prob"]), axis=1)
print(output.shape)

output.loc[:, "User_id"] = output["User_id"].apply(lambda x:str(int(x)))
output.loc[:, "Coupon_id"] = output["Coupon_id"].apply(lambda x:str(int(x)))
output.loc[:, "Date_received"] = output["Date_received"].apply(lambda x:str(int(x)))
output["uid"] = output[["User_id", "Coupon_id", "Date_received"]].apply(lambda x: '_'.join(x.values), axis=1)
output.reset_index(drop=True, inplace=True)

(306313, 4)

In [20]:
### NOTE: YOUR SUBMITION FILE SHOULD HAVE COLUMN NAME: uid, label
out = output.groupby("uid", as_index=False).mean()
out = out[["uid", "pred_prob"]]
out.columns = ["uid", "label"]
out.to_csv("midterm_002.csv", header=["uid", "label"], index=False) # submission format
out.head()

                     uid     label
0  1000020_2705_20160519  0.197809
1  1000020_8192_20160513  0.197809
2  1000065_1455_20160527  0.121288
3  1000085_8067_20160513  0.128017
4  1000086_2418_20160613  0.128017